In [5]:
#create data
from tabulate import tabulate
print("Women")
data = [["Samantha", 17, 5.5, 80], 
        ["Jada", 16, 6.0, 85], 
        ["Jane", 17, 5.4, 70], 
        ["Claire", 18, 5.9, 60],
        ["Elizabeth", 16, 5.6, 60],
        ["Mary", 18, 5.5, 66],
        ["Susan", 17, 6.1, 87],
        ["Waje", 20, 6.0, 95],
        ["Taibat", 19, 5.7, 50],
        ["Lilian", 17, 5.5, 49],
       ]
  
#define header names
col_names = ["Name", "Age", "Height", "Score"]
  
#display table
print(tabulate(data, headers=col_names, tablefmt="fancy_grid"))

Women
╒═══════════╤═══════╤══════════╤═════════╕
│ Name      │   Age │   Height │   Score │
╞═══════════╪═══════╪══════════╪═════════╡
│ Samantha  │    17 │      5.5 │      80 │
├───────────┼───────┼──────────┼─────────┤
│ Jada      │    16 │      6   │      85 │
├───────────┼───────┼──────────┼─────────┤
│ Jane      │    17 │      5.4 │      70 │
├───────────┼───────┼──────────┼─────────┤
│ Claire    │    18 │      5.9 │      60 │
├───────────┼───────┼──────────┼─────────┤
│ Elizabeth │    16 │      5.6 │      60 │
├───────────┼───────┼──────────┼─────────┤
│ Mary      │    18 │      5.5 │      66 │
├───────────┼───────┼──────────┼─────────┤
│ Susan     │    17 │      6.1 │      87 │
├───────────┼───────┼──────────┼─────────┤
│ Waje      │    20 │      6   │      95 │
├───────────┼───────┼──────────┼─────────┤
│ Taibat    │    19 │      5.7 │      50 │
├───────────┼───────┼──────────┼─────────┤
│ Lilian    │    17 │      5.5 │      49 │
╘═══════════╧═══════╧══════════╧═════════╛

In [6]:
#create data
from tabulate import tabulate
print("Men")
data = [["Charles", 19, 5.7, 74], 
        ["Jude", 16, 5.9, 87], 
        ["James", 18, 5.8, 75], 
        ["Kelvin", 17, 6.1, 68],
        ["Biodun", 20, 5.9, 66],
        ["Wale", 19, 5.5, 78],
        ["Kunle", 16, 6.1, 87],
        ["Matthew", 18, 5.4, 98],
        ["Tom", 17, 5.8, 54],
        ["Kayode", 19, 5.7, 60],
       ]
  
#define header names
col_names = ["Name", "Age", "Height", "Score"]
  
#display table
print(tabulate(data, headers=col_names, tablefmt="fancy_grid"))

Men
╒═════════╤═══════╤══════════╤═════════╕
│ Name    │   Age │   Height │   Score │
╞═════════╪═══════╪══════════╪═════════╡
│ Charles │    19 │      5.7 │      74 │
├─────────┼───────┼──────────┼─────────┤
│ Jude    │    16 │      5.9 │      87 │
├─────────┼───────┼──────────┼─────────┤
│ James   │    18 │      5.8 │      75 │
├─────────┼───────┼──────────┼─────────┤
│ Kelvin  │    17 │      6.1 │      68 │
├─────────┼───────┼──────────┼─────────┤
│ Biodun  │    20 │      5.9 │      66 │
├─────────┼───────┼──────────┼─────────┤
│ Wale    │    19 │      5.5 │      78 │
├─────────┼───────┼──────────┼─────────┤
│ Kunle   │    16 │      6.1 │      87 │
├─────────┼───────┼──────────┼─────────┤
│ Matthew │    18 │      5.4 │      98 │
├─────────┼───────┼──────────┼─────────┤
│ Tom     │    17 │      5.8 │      54 │
├─────────┼───────┼──────────┼─────────┤
│ Kayode  │    19 │      5.7 │      60 │
╘═════════╧═══════╧══════════╧═════════╛